@model Galeri302.Models.yVites
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Vites) </dt>
        <dd>@Html.DisplayFor(m => m.Vites)</dd>
       

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id })|
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>

